:root {
  --color-max-light: #ffffff;
  --color-neutral-5: #dfdfdf;
  --color-neutral-10: #bfbfbf;
  --color-neutral-20: #808080;
  --color-neutral-30: #404040;
  --color-max-dark: #000000;

  --color-primary: #311f5e;
  --color-secondary: #E4EFCF;
}
