.article h1 {
  color: var(--color-primary);
  font-family: var(--headline-font-family);
  font-size: var(--headline-font-size);
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
  margin-bottom: 0;
}

.article p {
  color: var(--color-neutral-40);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  line-height: var(--default-line-height);
}

.article p a {
  color: var(--color-primary);
}

@media screen and (min-width: 800px) {
  .article h1 {
    margin-bottom: 20px;
  }
}
