.article a {
  color: var(--color-accent);
}

.article p {
  color: var(--color-max-dark);
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

.article h1 {
  color: var(--color-accent);
  font-family: var(--font-headline);
  font-size: 40px;
  font-weight: var(--font-weight-headline);
  line-height: var(--line-height);
  margin-bottom: 0;
}

@media (--medium) {
  .article {
    max-width: 30em;
  }
}
